{% block head %}
    <div class="cabecera_der">
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
            <a href="/"><i class="fa fa-home"></i></a>
          </li>
          <li>
            <a href="/nosotros">Acerca de</a>
            <a href="/nosotros"><i class="fa fa-diamond"></i></a>
          </li>
          <li><a href="{{ path('tocketea_login') }}" id="btn_login"><i class="fa fa-sign-in"></i><span>Acceder</span></a></li>
        </ul>
      </nav>
    </div>
{% endblock %}