{% extends 'base.html.twig' %}

{% block title %}Mis eventos{% endblock %}

{% block body %}

  <section class="form_crear_evento">
    <h1>Formulario Evento</h1>

    {{ form( form , {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(form) }}
    {{ form_errors(form) }}

    {{ form_end(form) }}

  </section>

{% endblock %}
